[submodule "ZOM/vendor/spdlog"]
	path = ZOM/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ZOM/vendor/glfw"]
	path = ZOM/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "ZOM/vendor/glad"]
	path = ZOM/vendor/glad
	url = https://github.com/ondranedo/glad
[submodule "ZOM/vendor/glm"]
	path = ZOM/vendor/glm
	url = https://github.com/g-truc/glm
